[submodule "submodule/METIS"]
	path = submodule/METIS
	url = https://github.com/KarypisLab/METIS.git
	ignore = dirty
[submodule "submodule/mumps"]
	path = submodule/mumps
	url = https://github.com/scivision/mumps.git
        ignore = dirty
[submodule "submodule/scalapack"]
	path = submodule/scalapack
	url = https://github.com/Reference-ScaLAPACK/scalapack.git
        ignore = dirty
[submodule "submodule/gedatsu"]
	path = submodule/gedatsu
	url = https://gitlab.com/mmlab_tsukuba/gedatsu.git
[submodule "submodule/monolis_utils"]
	path = submodule/monolis_utils
	url = https://gitlab.com/mmlab_tsukuba/monolis_utils.git
[submodule "submodule/ggtools"]
	path = submodule/ggtools
	url = https://gitlab.com/mmlab_tsukuba/ggtools.git
